@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100;1,300&display=swap");

body {
  background-color: greenyellow;
}

.inputClass {
  border-radius: 15px;
  height: 30px;
  width: 240px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.7);
}

input::placeholder {
  font-weight: bold;
}

.formClass {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  position: absolute;
  top: 150px;
}

.ulClass li .fa-trash {
  color: red;
  cursor: pointer;
}

.ulClass li .fa-check {
  color: green;
  cursor: pointer;
}

.ulClass li.checked {
  color: darkgrey;
  text-decoration: line-through;
}

.ulClass li.checked .fa-check {
  color: darkgrey;
}
